{# \templates\macro\macroMenu.html.twig #}

{% macro menu(nomBanque, menuActif) %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ nomBanque }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item
       {% if menuActif == 1 %}
           active
       {% endif %}">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item
     {% if menuActif == 2 %}
           active
       {% endif %}">
                    <a class="nav-link" href="/nos_offres">Nos offres</a>
                </li>
                <li class="nav-item
     {% if menuActif == 3 %}
           active
       {% endif %}">
                    <a class="nav-link" href="/nos_clients">Nos clients</a>
                </li>

                <li class="nav-item
                 {% if menuActif == 4 %}
                       active
                   {% endif %}">
                    <a class="nav-link" href="/avis/">Avis des clients</a>
                </li>


            </ul>

        </div>
    </nav>
{% endmacro %}
